{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
    <h1>{{task.title }}</h1>
    <p>
        {% if task.status == 'failed' %}
        <span class="badge bg-danger">{{ task.status }}</span>
        {% elif task.status == 'completed' %}
        <span class="badge bg-success">{{ task.status }}</span>
        {% elif task.status == 'scheduled' %}
        <span class="badge bg-info">{{ task.status }}</span>
        {% else %}
        <span class="badge bg-warning">{{ task.status }}</span>
        {% endif %}
        <span class="text-muted">{{ task.created }}</span>
    </p>
    <div class="lead p-3">
        Select the events you'd like to undo.
    </div>
    <form method="post" action="{% url 'task_undo' task.id %}">
        {% csrf_token %}
        {% render_table event_table %}
        <button type="submit" class="btn btn-danger" id="undoButton" title="Undo marked events"><i class="fa-solid fa-rotate-left"></i> Undo</button>
    </form>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const undoButton = document.getElementById('undoButton');
            const checkboxes = document.querySelectorAll('input[type="checkbox"][name="reversible"]');

            function updateButtonState() {
                const anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
                undoButton.disabled = !anyChecked;
            }

            checkboxes.forEach(checkbox => {
                checkbox.addEventListener('change', updateButtonState);
            });
            undoButton.addEventListener('click', function () {
                setTimeout(() => {
                    undoButton.disabled = true;
                    undoButton.innerHTML = '<i class="fa fa-spinner fa-spin"></i> Reverting Changes ...';
                }, 0); // Executes after the form submission has been triggered
            });

            updateButtonState();
        });
    </script>
{% endblock %}